@model Datos.Marca

<div class="row">
    <div class="col s12">
        <div id="validations" class="card card-tabs">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col s8 m6 l10">
                            <h4 class="card-title">
                                <a href="@Url.Action("Index","Marca")"><i class="material-icons left">keyboard_backspace</i></a>
                                Marcas
                            </h4>
                        </div>
                    </div>
                </div>
                <form class="validar" id="formValidate" method="post" action="@Url.Action("Guardar","Marca")">
                    <div class="row">
                        <input name="Id" type="hidden" value="@Model.Id">
                        <div class="input-field col s12 m6">
                            <label for="uname">Denominacion*</label>
                            <input name="Denominacion" type="text" required value="@Model.Denominacion" autofocus>
                        </div>
                        
                        <div class="input-field col s12">
                            <button data-ajax="true" class="btn right blue" type="submit">
                                Guardar
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
